body, html, .main {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 15px;
  overflow: hidden;
}

button {
  color: #828282;
  background: none;
  border-radius: 0;
  border: 0;
  outline: 0;
  margin: 0 4px;
  cursor: pointer;
  font-size: 80%;
  padding: 4px;
}

button:hover, button:active {
  background: #f6f6f8;
}

header {
  background: #e6e6e8;
  padding: 8px;
  cursor: default;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

header a {
  color: inherit;
  text-decoration: none;
}

input {
  font-size: 100%;
  font-family: inherit;
  padding: 4px;
  margin: 2px;
}

h4 {
  margin: 0;
}

a {
  word-break: break-all;
}

.error {
  color: red;
}

.hide {
  display: none;
}


.main {
  flex-flow: row;
  flex: 1 0;
  display: flex;
}

.windows {
  display: flex;
  flex: 1;
  max-width: 100%;
  overflow: auto;
}

.window {
  display: flex;
  flex-flow: column;
  flex: 1;
  border-right: 1px solid #ccc;
  max-width: 100%;
  overflow-x: auto;
}

.feed {
  flex: 1;
  background: #fff;
  padding: 8px 8px 4px 8px;
  overflow-y: auto;
}

.feed img , .f-input img {
  max-width: 100%;
  display: block;
}

.field {
  background: #e6e6e8;
  padding: 8px;
  display: flex;
}

.f-input {
  flex: 1 0 auto;
  padding: 4px;
  border: 1px solid #ccc;
  background: white;
  min-height: 1em;
  white-space: pre-wrap;
}

.f-reply {
  vertical-align: center;
}

.message {
  font-size: 100%;
  margin: 8px;
  display: flex;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.m-icon {
  background: url("default.jpg");
  width: 24px;
  height: 24px;
  border: 1px solid black;
  flex: 0 0 auto;
}

.m-content {
  margin-left: 6px;
}

.m-header {
  line-height: 1.3em;
}

.m-time {
  font-size: 13px;
  color: #929294;
  margin-left: 6px;
}

.m-text {
  white-space: pre-wrap;
}

.update {
  color: #929294;
  margin: 4px;
}

.people {
  flex: 0 1 15em;
  background: #f3f3f5;
  padding: 8px;
  display: flex;
  flex-flow: column;
  margin-left: auto;
}

.about {
  margin-top: auto;
  display: flex;
  justify-content: space-around;
  padding: 4px;
  color: gray;
  order: 3;
}

.about a {
  color: gray;
}

.rooms {
  padding: 8px;
  order: 0;
}

.updating-list {
  overflow-y: auto;
  flex: 1;
  list-style: none;
  padding-left: 0;
  margin: 4px;
  cursor: pointer;
}

.updating-list li {
  color: #626262;
  padding: 4px;
}

.updating-list li:hover, .updating-list li:active {
  background: #f6f6f8;
}

.rooms form {
  margin: 4px;
}

.nickname {
  order: -100;
  padding: 8px;
  font-size: 18px;
  flex: 1;
}

.minimize {
  cursor: pointer;
  display: none;
  justify-content: center;
  background: #eee;
  margin: 0;
  color: #ccc;
}

#minimize-check {
  display: none;
}

.mute {
  appearance: none;
  color: #444;
  order: 2;
  margin: 8px;
  font-size: 18px;
}

#mute-check:checked ~ .mute {
  color: #999;
}

.names {
  order: 1;
}

@media (max-width: 640px) {
  .main {
    flex-flow: column;
  }

  .people {
    margin-left: 0;
  }
  
  .minimize {
    display: flex;
  }
  
  #minimize-check:checked ~ .people {
    display: none;
  }
}

.typing {
  padding: 8px;
  background: #f9f9fb;
  height: 24px;
  overflow: hidden;
  flex: 0 0 auto;
  filter: opacity(50%);
}